body {
  text-align: center;
}

h1 {
  color: darkgreen;
}

.selected {
  text-decoration: underline;
}

.food-list {
  border-right: inset 3px;
}

.food-details {
  border-left: inset 3px;
}

.medium-image {
  height: 300px;
  width: 300px;
}
